<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nsDefaults.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8791ECD71D7C8B5800FE06F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8791ECEB1D7C8B5800FE06F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8791ECF61D7C8B5800FE06F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
